/*se non scrivo il percorso completo non mi carica l'immagine :( */
body {
  background-image: url(C:/Users/Leonardino/Desktop/boolean/14%20marzo/gmail/immagini/sfondo%20legno.jpg);
}

header > img{
  width: 150;
}

#container {
  width: 800px;
  margin: auto;
}

.unread-count > span{
  background-color: orange;
  border-radius: 50%
}

.email-container > .email {
  padding: 3px 0;
  border: 1px solid black;
}

.email{
  color:#cecece;
}

.email > .subject{
  color: black;
  font-weight: bold;
}

.email.unread{
  background-color: white;
}

.email.read{
  background-color: grey;
}

footer {
  text-align: right;
  font-size: 45px;
}

footer > span{
  font-size: 15px;
  font-style: italic;
}
